<VirtualHost *:{{ httpd_port }}>
    ServerName {{ domain_name }}
    DocumentRoot /var/www/html/{{ domain_name }}/
    DirectoryIndex index.php index.html
    <Directory "/var/www/html/{{ domain_name }}/">
    AllowOverride All
    </Directory>
    </VirtualHost>
